.card-div img {
  display: block;
  width: 220px;
}
.card-div {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 220px;
  border-radius: 10px;
  cursor: pointer;
}
.card-div h3 {
  font-size: 12px;
  text-align: center;
}
.card-div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}
.course-info span:nth-child(1) {
  color: rgb(74, 78, 83);
  font-weight: 300;
}
.course-info span:nth-child(2) {
  color: rgb(255, 242, 0);
  font-weight: 300;
}
