.MainSec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-inner-div {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.main-left-side {
  width: 20%;
}
.main-right-side {
  padding-top: 2rem;
  width: 78%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.course-left-side {
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.course-left-side p {
  padding: 1rem 1.3rem;
  &&:hover {
    border-radius: 5px;
    background-color: #f02d00;
    color: white;
    cursor: pointer;
  }
}
